<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="bg-light">
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>

    <h1>Hello!</h1>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <p>Search by Style (Only)</p>
    <form class="form-inline" method="post" action="/searchStyle">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="all" name="">
            <label class="form-check-label" for="all">
                Default checkbox
            </label>
        </div>
        <p>
            <label for="input">Search</label>
            <input type="text" id="input" name="search" placeholder="Example input" th:value="${search}">
            <button type="submit" class="btn btn-primary">Search</button>
            <span th:text="${count}">0</span>
        </p>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Style</th>
            <th scope="col">Count</th>
            <th scope="col">Reload</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="style : ${styles}" >
            <td scope="row"><a th:href="@{'/viewArtistSongs/'+${style.id}}" th:text="${style.id}"></a></td>
            <td th:text="${style.name}"></td>
            <td th:text="${style.count}" th:id="${style.name}" th:name="${style.name}"></td>
            <td th:id="${style.name}-reload" th:name="${style.name}-reload"></td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>