<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:include="fragments2/header1 :: head"></head>
<body class="bg-light">
<div class="container">

    <div th:replace="fragments2/navbar1 :: navbar"></div>

    <h1>Hello!</h1>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <p>Search by Artist - list songs with link to deatail page</p>
    <form class="form-inline" method="post" action="/search">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Default checkbox
            </label>
        </div>
        <p>
            <label for="input">Search</label>
            <input type="text" id="input" name="search" placeholder="Example input" th:value="${search}">
            <button type="submit" class="btn btn-primary">Search</button>
            <span th:text="${count}">0</span>
        </p>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Artist</th>
            <th scope="col">Title</th>
            <th scope="col">Style</th>
            <th scope="col">voteUp</th>
            <th scope="col">voteDown</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}" >
            <th scope="row"><a th:href="@{'/view/'+${song.trackId}}" th:text="${song.trackId}"></a></th>
            <!--<td th:text="${song.displayArtist}"></td>-->
            <td scope="row"><a th:href="@{'/artist/viewArtistSongs/'+${song.artistId}}" th:text="${song.displayArtist}"></a></td>
            <td th:text="${song.displayTitle}"></td>
            <td th:utext="${song.styleAllLinks}"></td>
            <td th:text="${song.voteUp}"></td>
            <td th:text="${song.voteDown}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments2/footer1 :: footer"></div>
</body>
</html>