<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class="bg-light">
<div class="container">
    <div th:replace="fragments2/navbar1 :: navbar"></div>

    <h1 th:text="${track.track}">Hello!</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><b>TField</b></th>
            <th scope="col"><b>Value</b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>trackId</td>
            <td th:text="${track.trackId}"></td>
        </tr>
        <tr>
            <td>artistId</td>
            <td th:text="${track.artistId}"></td>
        </tr>
        <tr>
            <td>displayArtist</td>
            <td th:text="${track.displayArtist}"></td>
        </tr>
        <tr>
            <td>displayTitle</td>
            <td th:text="${track.displayTitle}"></td>
        </tr>
        <tr>
            <td>track</td>
            <td th:text="${track.track}"></td>
        </tr>
        <tr>
            <td>voteUp</td>
            <td th:text="${track.voteUp}"></td>
        </tr>
        <tr>
            <td>voteDown</td>
            <td th:text="${track.voteDown}"></td>
        </tr>
        <tr>
            <td>style</td>
            <td th:text="${track.style}"></td>
        </tr>
        <tr>
            <td>styleAll</td>
            <td th:text="${track.styleAll}"></td>
        </tr>
        <tr>
            <td>folder</td>
            <td th:text="${track.folder}"></td>
        </tr>
        <tr>
            <td>StyleID</td>
            <td th:text="${style.id}"></td>
        </tr>
        <tr>
            <td>StyleName</td>
            <td th:text="${style.name}"></td>
        </tr>
        <tr>
            <td>StyleRootFolder</td>
            <td th:text="${style.rootFolder}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td > <p th:text="${path}"></p> <br/><p><a th:href="@{'/play/'+${track.trackId}}" th:text="play"></a></p></td>
        </tr>

        </tbody>
    </table>

    <h3>Json</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><b>field</b></th>
            <th scope="col"><b>value</b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>asset_url</td>
            <td th:text="${asset_url}"></td>
        </tr>
        <tr>
            <td>details_url</td>
            <td><a th:href="${details_url}" th:text="${details_url}"></a></td>
        </tr>
        </tbody>
    </table>

    <figure class="figure">
        <img th:src="${asset_url}" class="figure-img img-fluid rounded" th:alt="${track.track}">
        <figcaption class="figure-caption text-right" th:text="${track.track}">A caption for the above image.</figcaption>
    </figure>

    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link - JSON - With code formated and highlighted
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button - JSON - With code formated and highlighted
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <label for="jsoncode">Json</label>
            <pre id="jsoncode"><code class="json" th:text="${jsonFormated}"></code></pre>
        </div>
    </div>


    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            Link - JSON - Without code formated
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            Button - JOSN - without code formated
        </button>
    </p>
    <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <label for="json">Json</label>
            <textarea class="form-control" id="json" rows="20" th:text="${track.json}"></textarea>
        </div>
    </div>


</div>
<div th:replace="fragments2/footer1 :: footer"></div>
</body>
</html>